body {
	padding: 0;
	margin: 0 auto;
	width: 570px;
	background: #fff url('../img/bg.png') top center no-repeat;
}

#wrapper {
	padding: 35px;
}
#app {
	padding: px;
}
.fist {
	height: 200px;
	background-color: red;
}
