<div class="first">
	<div class="inner">
		<div class="four columns alpha omega tmpday">
			<div class="temp">${temp}°<span>C</span></div>
			<div class="day">${day} </div>
			<div class="datetime">${date} <br />${time}</div>
		</div>
		<div class="info">
			<div class="city">${city}</div>
			<div class="country">${country}</div>
			<div class="config"><a href="#config">Settings</a>
		</div>
	</div>
	<div class="image">
		<img src="img/large/${icon}.png" alt="${condition}" />
	</div>

</div>
<div style="clear:both;"></div>
